In [48]:
import pandas as pd
import xlrd

xls = pd.ExcelFile(r"WeatherData.xls")
df = xls.parse(0)

display(df)
df.describe()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Region1,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Region1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Region1,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Region1,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Region1,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36524,2017-06-21,Region12,8.6,18.6,0.2,SSW,56.0,NNW,S,13.0,...,69.0,67.0,1025.7,1025.3,2.0,2.0,13.3,17.7,No,No
36525,2017-06-22,Region12,9.5,17.8,0.2,SW,35.0,NNW,SSE,9.0,...,74.0,70.0,1028.3,1024.6,2.0,2.0,14.3,16.8,No,No
36526,2017-06-23,Region12,8.7,19.4,0.0,NNW,30.0,NW,NW,13.0,...,83.0,57.0,1020.8,1014.7,6.0,6.0,10.9,18.2,No,No
36527,2017-06-24,Region12,9.4,19.9,0.0,SW,43.0,WNW,W,22.0,...,61.0,41.0,1017.3,1015.2,5.0,2.0,12.9,19.3,No,No
36528,2017-06-25,Region12,6.8,19.5,0.0,WSW,46.0,NW,WSW,19.0,...,67.0,42.0,1018.4,1015.2,1.0,1.0,11.9,17.9,No,No

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,36029.000000,36160.000000,35839.000000,31597.000000,35698.000000,35054.000000,35862.000000,35196.000000,29837.000000,29846.000000,20712.000000,20390.000000,36092.000000,35424.000000
mean,13.413489,23.956333,2.696772,38.360287,12.662978,17.413904,70.032820,52.508581,1018.259165,1015.698485,4.312331,4.401422,17.861931,22.478128
std,5.723398,5.914569,9.410816,13.706660,9.126107,9.316727,17.508474,20.387986,6.648539,6.597083,2.913795,2.703880,5.290466,5.750985
min,-4.800000,6.800000,0.000000,7.000000,0.000000,0.000000,3.000000,1.000000,980.500000,979.000000,0.000000,0.000000,0.300000,6.400000
25%,9.200000,19.500000,0.000000,30.000000,6.000000,11.000000,58.000000,37.000000,1013.800000,1011.300000,1.000000,2.000000,14.100000,18.200000
50%,14.000000,23.400000,0.000000,37.000000,11.000000,17.000000,71.000000,53.000000,1018.300000,1015.800000,5.000000,5.000000,18.300000,21.800000
75%,18.000000,27.500000,0.800000,46.000000,19.000000,22.000000,83.000000,67.000000,1022.700000,1020.200000,7.000000,7.000000,21.800000,25.900000
max,29.700000,47.300000,371.000000,135.000000,130.000000,83.000000,100.000000,100.000000,1039.900000,1037.000000,9.000000,8.000000,37.700000,46.700000

In [49]:
#Adding Constants(min value) instead of Null Values for Numeric Columns
#Dropping Rows with Null Categorical Value

values={"Cloud9am": 0,"Cloud3pm": 0,"Rainfall": 0,"WindGustSpeed": 7,"WindSpeed9am":0,"WindSpeed3pm":0}
df.fillna(value=values,inplace=True)
df.dropna(subset=["WindDir9am","WindDir3pm"])
display(df)
df.describe()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Region1,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,0.0,16.9,21.8,No,No
1,2008-12-02,Region1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,44.0,25.0,1010.6,1007.8,0.0,0.0,17.2,24.3,No,No
2,2008-12-03,Region1,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,38.0,30.0,1007.6,1008.7,0.0,2.0,21.0,23.2,No,No
3,2008-12-04,Region1,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,45.0,16.0,1017.6,1012.8,0.0,0.0,18.1,26.5,No,No
4,2008-12-05,Region1,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36524,2017-06-21,Region12,8.6,18.6,0.2,SSW,56.0,NNW,S,13.0,...,69.0,67.0,1025.7,1025.3,2.0,2.0,13.3,17.7,No,No
36525,2017-06-22,Region12,9.5,17.8,0.2,SW,35.0,NNW,SSE,9.0,...,74.0,70.0,1028.3,1024.6,2.0,2.0,14.3,16.8,No,No
36526,2017-06-23,Region12,8.7,19.4,0.0,NNW,30.0,NW,NW,13.0,...,83.0,57.0,1020.8,1014.7,6.0,6.0,10.9,18.2,No,No
36527,2017-06-24,Region12,9.4,19.9,0.0,SW,43.0,WNW,W,22.0,...,61.0,41.0,1017.3,1015.2,5.0,2.0,12.9,19.3,No,No
36528,2017-06-25,Region12,6.8,19.5,0.0,WSW,46.0,NW,WSW,19.0,...,67.0,42.0,1018.4,1015.2,1.0,1.0,11.9,17.9,No,No

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,36029.000000,36160.000000,36529.000000,36529.000000,36529.000000,36529.000000,35862.000000,35196.000000,29837.000000,29846.000000,36529.000000,36529.000000,36092.000000,35424.000000
mean,13.413489,23.956333,2.645832,34.126146,12.374908,16.710750,70.032820,52.508581,1018.259165,1015.698485,2.445098,2.456815,17.861931,22.478128
std,5.723398,5.914569,9.328736,16.654282,9.217161,9.749201,17.508474,20.387986,6.648539,6.597083,3.062605,2.976318,5.290466,5.750985
min,-4.800000,6.800000,0.000000,7.000000,0.000000,0.000000,3.000000,1.000000,980.500000,979.000000,0.000000,0.000000,0.300000,6.400000
25%,9.200000,19.500000,0.000000,24.000000,6.000000,9.000000,58.000000,37.000000,1013.800000,1011.300000,0.000000,0.000000,14.100000,18.200000
50%,14.000000,23.400000,0.000000,33.000000,11.000000,17.000000,71.000000,53.000000,1018.300000,1015.800000,1.000000,1.000000,18.300000,21.800000
75%,18.000000,27.500000,0.600000,44.000000,19.000000,22.000000,83.000000,67.000000,1022.700000,1020.200000,6.000000,5.000000,21.800000,25.900000
max,29.700000,47.300000,371.000000,135.000000,130.000000,83.000000,100.000000,100.000000,1039.900000,1037.000000,9.000000,8.000000,37.700000,46.700000